/* --- top navigation -- */
.top-navigation {
    text-align: center;
}

.top-navigation a {
    text-decoration: none;
    color: black;
    font-size: 25px;
}

/* --- welcome header -- */


/* --- projects -- */


/* --- footer -- */