{% load static %}

<!doctype html>
<html>

<head>
    <title>Demir Antay</title>

    <!-- Meta Info -->
    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="demir antay" />

    <!-- FAVICON -->
    <link rel="icon" href="{% static 'branding/logo.png' %}" />

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;700&display=swap" rel="stylesheet">

    <!-- FONT AWSOME -->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- REMIX ICON -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <!-- BASE CSS LINKS -->
    <link href="{% static 'home.css' %}" rel="stylesheet">

    <!-- JQUERY CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    <!-- ICON credits -->
    <a href="https://www.flaticon.com/free-icons/article" title="article icons"></a>
    <a href="https://www.flaticon.com/free-icons/spring-swing-rocket" title="spring swing rocket icons"></a>
    <a href="https://www.flaticon.com/free-icons/information" title="information icons"></a>



</head>

<body>


    <!-- Top Navigation -->
    <div class="top-navigation">
        <a href="https://www.linkedin.com/in/demirantay/" target="_blank"><i class="ri-linkedin-box-fill"></i></a>
        <a href="https://github.com/demirantay" target="_blank"><i class="ri-github-fill"></i></a>
        <a href="https://www.producthunt.com/@demir_antay" target="_blank"><i class="ri-product-hunt-fill"></i></a>
    </div>


    <!-- Welcome Header -->
    <div class="welcome-header">
        <img src="{% static 'branding/me2.jpeg' %}" alt="myself.image" >
        <h3>👋 Hello I'm Demir, a programmer.</h3>
        <p>
            I am really interested in <b>productivity</b> and creating <b>digital products</b>.
            I am documenting my <b>maker</b> journey on Product Hunt and LinkedIn. 
        </p>
        <a href="mailto:demir99antay@gmail.com">Hire me <i class="ri-arrow-right-up-line"></i></a>
    </div>


    <!-- Projects -->
    <div class="projects-wrapper">
        <h1><b>Products</b></h1>

        <div class="project-cell">
            <div class="project-cell-img-banner"></div>
            <h3>Name</h3>
            <!-- max chars:  115 -->
            <p>A web-based motion graphics editor. It's a mix of 
                After Effects and Canva, with powerful features but a simple interface.</p>
            <a href="">motionity.app <i class="ri-arrow-right-line"></i></a>
        </div>


    </div>


    <!-- Footer -->
    <div class="footer">
        <p>Demir Antay 🌊 </p>
    </div>


</body>

</html>